@use 'utils/variables' as v;

.copywriting {
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.copywriting-title {
  font-size: v.$font-size-lg;
  font-weight: 600;
  margin-bottom: 1rem;
  text-align: center;
}

.copywriting-about {
  font-size: v.$font-size-base;
  font-weight: 400;
  margin-bottom: 1rem;
  background-color: v.$color-primary;
  line-height: 1.2rem;
  padding: 1rem;
  border-radius: 1rem;
}

.copywriting-form {
  background-color: v.$color-primary;
  padding: 1rem;
  border-radius: 1rem;
  width: 100%
}

.form-button {
  margin-top: 1rem;
  text-align: center;
}

.copywriting-results {
  background-color: v.$color-primary;
  padding: 1rem;
  border-radius: 1rem;
  margin-top: 1rem;
}

.copywriting-results-title {
  font-size: v.$font-size-md;
  font-weight: 600;
  margin-bottom: 1rem;
  text-align: center;
}

.copywriting-results-subtitle {
  font-size: v.$font-size-md;
  font-weight: 600;
  margin-bottom: 1rem;
  text-align: center;
}

.copywriting-results-text {
  font-size: v.$font-size-base;
  font-weight: 400;
  margin-bottom: 1rem;
  line-height: 1.2rem;
}

@media screen and (min-width: 769px) {
  .copywriting-about, .copywriting-form, .copywriting-results {
    width: 75ch;
  }
}