@use 'utils/variables' as v;

.home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  color: white;
}

.sandbox-menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  background-color: v.$color-primary;
  padding: 1rem;
  border-radius: 1rem;
}

.sandbox-menu-title {
  font-size: v.$font-size-lg;
  font-weight: 500;
  text-align: center;
}

.home .btn-group {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.home .btn-group .btn {
  border-radius: 1rem !important;
}

@media screen and (min-width: 768px) {
  .home .btn-group {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
  }
}
