@use 'utils/variables' as v;

.navbar {
  background-color: v.$color-primary;
  border-radius: 0 0 1rem 1rem;
}

.navbar .container-fluid {
  justify-content: center;
}

.navbar .navbar-brand {
  margin: 0;
  color: white;
  font-size: v.$font-size-lg;
  font-weight: 700;
}

