@use 'utils/variables' as v;

.navbar {
  background-color: v.$color-primary;
}

.navbar .container-fluid {
  justify-content: center;
}

.navbar .navbar-brand {
  margin: 0;
  color: white;
  font-size: v.$font-size-lg;
  font-weight: 700;
}

