@use 'reset';
@use 'Navbar';
@use 'Footer';
@use 'AboutTool';
@use 'HomeView';
@use 'Ideas';
@use 'Gauge';
@use 'Copywriting';
@use 'Resume';
@use 'EscapeGame';
@use 'Scripting';
@use 'utils/variables' as v;

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

* {
  scrollbar-width: auto;
  scrollbar-color: #212529 #6b6b6b;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 12px;
}

*::-webkit-scrollbar-track {
  background: #6b6b6b;
}

*::-webkit-scrollbar-thumb {
  background-color: #212529;
  border: 1px solid #4e4e4e;
}

body {
  background-color: v.$color-secondary;
}

.App {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  color: white;
}
