@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap');

@import url('./reset.css');
@import url('./Navbar.css');
@import url('./Footer.css');
@import url('./HomeView.css');
@import url('./Ideas.css');

:root {
  /* Fonts */
  --font-size-sm: clamp(0.8rem, 0.23vw + 0.75rem, 0.94rem);
  --font-size-base: clamp(1rem, 0.42vw + 0.92rem, 1.25rem);
  --font-size-md: clamp(1.25rem, 0.69vw + 1.11rem, 1.67rem);
  --font-size-lg: clamp(1.56rem, 1.1vw + 1.34rem, 2.22rem);
  --font-size-xl: clamp(1.95rem, 1.68vw + 1.62rem, 2.96rem);
  --font-size-xxl: clamp(2.44rem, 2.51vw + 1.94rem, 3.95rem);
  --font-size-xxxl: clamp(3.05rem, 3.68vw + 2.32rem, 5.26rem);

  /* Colors */
}

* {
  font-family: 'Inter', sans-serif;
  margin: 0;
  padding: 0;
}

body {
  background-color: #303030;
  color: white;
}

.App {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
